# Dependencies
node_modules/
.pnp
.pnp.js

# Build
dist/
build/

# Prisma
prisma/migrations/

# Misc
.DS_Store
*.pem
*.log

# Local env files
.env*.local
.env

# Lock files
package-lock.json
yarn.lock
pnpm-lock.yaml
